@import url('//fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

h1{
    font-family: 'Nunito', sans-serif;
}

h2{
    font-family: 'Nunito', sans-serif;
}

a{
    font-family: 'Nunito', sans-serif;
    font-weight: 'bold';
    color: #09C;
}
  
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }